:root {
  --text-black: #212121;
  --text-grey: #757575;
  --text-white: #ffffff;
  --accent-blue: #2196f3;
  --bgd-dark-color: #2f303a;
  --bgd-light-color: #f5f4fa;
  --border-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-style: inherit;
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current {
  color: var(--accent-blue);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-blue);
  border-radius: 2px;
}

.mobile-menu-nav__link.current-mobile {
  color: var(--accent-blue);
}

.nav-content {
  display: flex;
  align-items: center;
}

.header-navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-navigation-list {
    display: flex;
    padding-bottom: 0;
    margin-left: 88px;
  }
  .header-navigation-list .navigation-list + .navigation-list {
    margin-left: 50px;
  }
  .header-navigation-list a:hover,
  .header-navigation-list a:focus {
    color: var(--accent-blue);
  }
}

@media screen and (min-width: 1200px) {
  .header-navigation-list {
    margin-left: 93px;
  }
}

.header-link {
  position: relative;
  color: var(--text-black);
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
  color: var(--accent-blue);
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-black);
    border-bottom: 1px solid #ececec;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

@media screen and (min-width: 1200px) {
  .header-container {
    min-height: 80px;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    align-items: center;
    margin-left: auto;
  }
  .header-contacts a:hover,
  .header-contacts a:focus {
    color: var(--accent-blue);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-white);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contacts-links {
    display: flex;
    flex-direction: initial;
    align-items: center;
  }
  .header-contacts-links .navigation-list + .navigation-list {
    margin-left: 30px;
  }
}

.header-contacts-link {
  color: var(--text-grey);
}

@media screen and (min-width: 768px) {
  .header-contacts-link {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-link {
    padding: 32px 0px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--text-black);
  align-self: center;
  animation-duration: 1500ms;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
}

@media screen and (min-width: 1200px) {
  .logo-span {
    font-size: 26px;
  }
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--text-white);
}

.header-icon {
  margin-right: 10px;
  display: inline-block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon:hover, .header-icon:focus {
  fill: currentColor;
}

.header-icon-envelope {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header-icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.header-icon-smartphone {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .header-icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.footer-place {
  font-size: 14px;
  line-height: 1.713px;
  letter-spacing: 0.03em;
  color: var(--text-white);
}

.container.footer-container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 60px 89px 60px 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 0;
  }
}

.footer-main {
  background-color: var(--bgd-dark-color);
}

@media screen and (max-width: 1199px) {
  .footer-main {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
  }
}

.footer-contacts-list {
  margin-top: 20px;
}

.footer-contacts-list .footer-contacts + .footer-contacts {
  margin-top: 9px;
}

@media screen and (max-width: 767px) {
  .footer-contacts-list {
    margin-bottom: 60px;
  }
}

.footer-contacts-links {
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-contact {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact {
    max-width: 768px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    max-width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact-container {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.join-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-white);
}

.join .social-link {
  background: rgba(255, 255, 255, 0.1);
}

.join .social-icons {
  fill: var(--text-white);
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
    padding-top: 0;
  }
}

.footer-join-text {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-join-text {
    margin-left: auto;
  }
}

.footer-form {
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-container {
    margin: 0 auto;
  }
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  color: var(--text-white);
}

.footer-input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
  }
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.burger-btn,
.mobile-close {
  background-color: transparent;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-close {
    display: none;
  }
}

.burger-btn:hover, .burger-btn:focus,
.mobile-close:hover,
.mobile-close:focus {
  fill: var(--accent-blue);
}

.mobile-close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.burger-icon {
  width: 24px;
  height: 16px;
}

.button-footer {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;
}

.footer-form-btn {
  display: flex;
  height: 50px;
  color: var(--text-white);
  background-color: var(--accent-blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

@media screen and (max-width: 1199px) {
  .footer-form-btn {
    margin: 20px auto 0 auto;
  }
}

.button-hero {
  color: var(--text-white);
  background-color: var(--accent-blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
}

.button-hero.btn-modal {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.portfolio-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .portfolio-buttons {
    flex-wrap: wrap;
    justify-content: start;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-buttons .portfolio-btn + .portfolio-btn {
    margin-left: 8px;
    margin-right: 0;
  }
}

.portfolio-btn {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .portfolio-btn {
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 0;
  }
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-black);
  background-color: var(--bgd-light-color);
  border: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: var(--text-white);
  background-color: var(--accent-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn:hover .modal-close {
  fill: var(--accent-blue);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-icons {
  width: 20px;
  height: 20px;
  fill: var(--border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus .social-icons,
.social-link:hover .social-icons {
  fill: var(--text-white);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus, .social-link:hover {
  background-color: var(--accent-blue);
}

.social:not(:last-child) {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-blue);
  outline: none;
}

.modal-input.text {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.text:focus {
  outline: none;
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-blue);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-grey);
  margin-top: 10px;
}

.modal-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.policy-link {
  color: var(--accent-blue);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-left: 2px;
}

@media screen and (min-width: 1200px) {
  .policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-label::before {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: 2px solid var(--text-black);
  border-radius: 2px;
  margin-right: 8px;
}

.policy-checkbox:checked + .policy-label::before {
  background-color: var(--accent-blue);
  border-color: var(--accent-blue);
  background-image: url(../images/form/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.page-portfolio {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .page-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container.portfolio-container {
  padding: 0;
}

.portfolio-examples {
  display: block;
}

@media screen and (max-width: 767px) {
  .portfolio-examples {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-examples {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white);
  background-color: var(--accent-blue);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples-link:hover .portfolio-thumb-text,
.portfolio-examples-link:focus .portfolio-thumb-text {
  transform: translateY(0%);
}

.portfolio-cards-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.portfolio-cards-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-examples-link {
  color: var(--text-black);
  display: block;
}

.portfolio-examples-link:hover, .portfolio-examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-descr {
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-descr {
    width: 354px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-list-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-descr.first-descr {
    height: 142px;
  }
}

.mobile-menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 50%;
  background-color: var(--text-white);
  width: 100%;
  max-width: 767px;
  height: 100vh;
  transform: translateX(-50%) translateY(-100%);
  padding: 48px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: var(--text-black);
}

.mobile-menu-nav__link.current {
  color: var(--accent-blue);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-item {
  margin-top: 32px;
}

.mobile-contacts-container {
  margin-top: auto;
}

.mobile-phone-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-blue);
}

@media screen and (min-width: 386px) {
  .mobile-phone-link {
    font-size: 34px;
  }
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}

@media screen and (min-width: 386px) {
  .mobile-contact-link {
    font-size: 24px;
  }
}

.mobile-menu__links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 64px;
}

.mobile-menu__link:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__link:not(:last-child):after {
  content: "";
  position: absolute;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  top: 10px;
  width: 22px;
  height: 0px;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-blue);
}

@media screen and (min-width: 386px) {
  .mobile-social-link {
    font-size: 18px;
  }
}

.mobile-menu__nav {
  margin-right: auto;
}
/*# sourceMappingURL=portfolio.css.map */