/* :root {
  --text-black: #212121;
  --text-grey: #757575;
  --text-white: #ffffff;
  --accent-blue: #2196f3;
  --bgd-dark-color: #2f303a;
  --bgd-light-color: #f5f4fa;
  --border-color: #afb1b8;
} */

/* Main styles */
/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
/* clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}  */
/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
} */
/* .link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
} */
/* .list {
  list-style: none;
  padding: 0;
  margin: 0;
} */
/* .container {
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* .button {
  font-style: inherit;
  font-family: inherit;
} */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} */
/* img {
  display: block;
} */
/* Header */
/* .main-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-black);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.nav-content {
  display: flex;
  align-items: center;
} */
/* .header-navigation-list {
  padding-bottom: 0;
  margin-left: 93px;
  display: flex;
} */
/* .header-navigation-list .navigation-list + .navigation-list {
  margin-left: 50px;
} */
/* .header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-link {
  position: relative;
  color: var(--text-black);
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .header-contacts-links .navigation-list + .navigation-list {
  margin-left: 30px; */
}

/* .header-contacts-links {
  display: flex;
  color: var(--text-white);
  align-items: center;
}

.header-contacts-link {
  color: var(--text-grey);
  padding: 32px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .header-navigation-list a:hover,
.header-navigation-list a:focus {
  color: var(--accent-blue);
} */
/* .header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-blue);
} */
/* .logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--text-black);
  align-self: center;
  padding-top: 24px;
  padding-bottom: 25px;
  animation-duration: 1500ms;
}
.logo-span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
} */
/* .header-icon {
  margin-right: 10px;
  display: inline-block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
} */
/* .navigation-list {
  display: flex;
  align-items: center;
} */
/* Footer */
/* .footer-place {
  font-size: 14px;
  line-height: 1.713px;
  letter-spacing: 0.03em;
  color: var(--text-white);
}
.footer-main {
  background-color: var(--bgd-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */
/* .logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--text-white);
} */
/* .footer-contacts-list {
  margin-top: 20px;
}
.footer-contacts-list .footer-contacts + .footer-contacts {
  margin-top: 9px;
}
.footer-contacts-links {
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
  display: flex;
  justify-content: baseline;
  align-items: ;
} */
/* .join-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-white);
}
.join {
  padding-top: 12px;
} */
/* .footer-contact-container {
  margin-right: 70px;
} */

/* .join .social-link {
  background: rgba(255, 255, 255, 0.1);
}
.join .social-icons {
  fill: var(--text-white);
} */
/* .footer-form {
  padding-top: 12px;
  margin-left: 94px;
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px;
  width: 358px;
  margin-right: 12px;
  color: var(--text-white);
}
.footer-input:focus {
  outline: none;
} */
/* .button-footer {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;
} */
/* .footer-form-icon {
  width: 24px;
  height: 24px;
} */
/* .footer-join-text {
  margin-bottom: 0;
} */
/* .footer-form-btn {
  color: var(--text-white);
  background-color: var(--accent-blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
} */
/* studio */
/* Hero */
/* .section-hero {
  background-color: var(--bgd-dark-color);
  text-align: center;
}
.container-hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/Img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */
/* .button-hero {
  color: var(--text-white);
  background-color: var(--accent-blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
} */
/* Advantages */

/* .advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-title {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-black);

  margin-top: 0;
  margin-bottom: 10px;
}
.advantages-examples {
  display: flex;
  justify-content: space-between;
}
.advantages-list {
  display: inline-block;
  width: 270px;
}
.advantages-list:not(:first-child) {
  margin-left: 30px;
}
.advantages-text {
  color: var(--text-grey);
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
  /* display: inline; */
/* }
.advantages-icon {
  padding: 25px 102px;
  background-color: var(--bgd-light-color);
  margin-bottom: 30px;
}
.adv-icon {
  width: 70px;
  height: 70px;
}  */
/* What we do */
/* .examples {
  padding-bottom: 94px;
}
.title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.exaples-list {
  display: flex;
  justify-content: space-between;
}
.exaples-list .examples-item + .examples-item {
  margin-left: 30px;
}
.examples-thumb {
  position: relative;
}
.title-examples {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
} */

/* Team */
/* 
.section-team {
  background-color: var(--bgd-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-card {
  background-color: var(--text-white);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card-container {
  padding: 30px 10px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list .team-card + .team-card {
  margin-left: 30px;
}
.team-person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 10px;
  text-align: center;
}
.team-personal-descr {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  text-align: center;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-icons {
  width: 20px;
  height: 20px;
  fill: var(--border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-blue);
  /* fill: var(--text-white); */
/* }
.social-link:focus .social-icons,
.social-link:hover .social-icons {
  fill: var(--text-white);
}
.social:not(:last-child) {
  margin-right: 10px;
} */
/* Customers */

/* .section-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  justify-content: center;
}
.customers-link {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
}
.customers:not(:last-child) {
  margin-right: 30px;
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-blue);
}
.first-customer {
  padding: 20px 64px;
}
.customers-icon {
  fill: var(--border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:focus .customers-icon,
.customers-link:hover .customers-icon {
  fill: var(--accent-blue);
}  */

/* Portfolio */

/* .page-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-black);
  background-color: var(--bgd-light-color);
  border: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons .portfolio-btn + .portfolio-btn {
  margin-left: 8px;
} */
/* .portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white);
  background-color: var(--accent-blue);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-examples-link:hover,
.portfolio-examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-examples-link:hover .portfolio-thumb-text,
.portfolio-examples-link:focus .portfolio-thumb-text {
  transform: translateY(0%);
} */
/* .portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-white);
  background-color: var(--accent-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* .portfolio-cards-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.portfolio-cards-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-examples-link {
  color: var(--text-black);
  display: block;
}
.portfolio-descr {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
} */
/* .current {
  color: var(--accent-blue);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-blue);
  border-radius: 2px;
} */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-height: 581px;
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
} */
/* .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */
/* .modal-form {
  display: flex;
  flex-direction: column;
} */
/* .modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn:hover .modal-close {
  fill: var(--accent-blue);
} */
/* .modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 12px;
}
.modal-input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-blue);
  outline: none;
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-blue);
}
.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-grey);
  margin-top: 10px;
}
.modal-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-input.text {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input.text:focus {
  outline: none;
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.policy-link {
  color: var(--accent-blue);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 2px;
}
.policy-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.policy-label::before {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: 2px solid var(--text-black);
  border-radius: 2px;
  margin-right: 8px;
}
.policy-checkbox:checked + .policy-label::before {
  background-color: var(--accent-blue);
  border-color: var(--accent-blue);
  background-image: url(../images/form/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
} */

/* .button-hero.btn-modal {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 0;
} */
