.advantages-section {
  padding: 60px 15px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.advantages-title {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-black);

  margin-top: 0;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    align-items: center;
  }
}
.advantages-examples {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    // justify-content: space-between;
    margin: 0;
  }
}
.advantages-container {
  padding: 0;
}
.advantages-list {
  margin: 0 15px;
  max-width: 354px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    // display: inline-block;
    max-width: 270px;
    margin-top: 0;
    margin-bottom: 0;
    // margin: 0;

    // &:not(:first-child) {
    //   margin-left: 30px;
    // }
  }
}

.advantages-text {
  color: var(--text-grey);
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
  max-width: 450px;
  align-items: center;
}
.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  // display: block;
  width: 100%;
  max-width: 450px;
  background-color: var(--bgd-light-color);
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.adv-icon {
  width: 70px;
  height: 70px;
}
