.section-customers {
  padding: 60px 15px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customer-container {
  @media screen and (max-width: 1199px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.customer-title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.customers {
  @media screen and (max-width: 1199px) {
    margin: 15px;
  }
}
.customers-link {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 90px;
  width: 210px;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-blue);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.first-customer {
  padding: 20px 64px;
}
.customers-icon {
  fill: var(--border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-link:focus &,
  .customers-link:hover & {
    fill: var(--accent-blue);
  }
}

@media screen and (min-width: 1200px) {
  .customers:not(:last-child) {
    margin-right: 30px;
  }
}
