.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--text-black);
  align-self: center;
  padding-top: 24px;
  padding-bottom: 25px;
  animation-duration: 1500ms;
}
.logo-span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--text-white);
}
