.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--text-black);
  align-self: center;
  animation-duration: 1500ms;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-blue);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--text-white);
}
