.section-team {
  background-color: var(--bgd-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-card {
  background-color: var(--text-white);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card-container {
  padding: 30px 10px;
}
.team-list {
  display: flex;
  justify-content: space-between;

  & .team-card + .team-card {
    margin-left: 30px;
  }
}

.team-person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 10px;
  text-align: center;
}
.team-personal-descr {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  text-align: center;
  margin-bottom: 16px;
}
